<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="display-3 mt-5">Page Not Found</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p class="lead mt-3">The page you are looking for does not exist. Please try navigating <a routerLink='/'>home</a> and start there</p>
    </div>
</div>