<app-navbar></app-navbar>
<div class="content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© <span id="year">2020 </span>BlogLab - All rights reserved </span>
    </div>
</footer>